/* 这里是你自己写的全局css样式 */

/* 全局css变量 */
:root {
  --bgcolor: #f5f5f5;
  --border-radius: 6px;
}

/* v-loading 的背景色 - 开始 */
.el-loading-mask {
  background: rgba(255, 255, 255, 0.6);
}
/* v-loading 的背景色 - 结束 */

/* 禁用双击缩放，直接触发点击，解决Web端点击响应延迟的问题 */
a,
button,
view,
text {
  touch-action: manipulation;
}

/* 富文本编辑器样式 - 开始 */
.ql-indent-1 {
  padding-left: 3em;
}
.ql-indent-2 {
  padding-left: 6em;
}
.ql-indent-3 {
  padding-left: 9em;
}
.ql-indent-4 {
  padding-left: 12em;
}
.ql-indent-5 {
  padding-left: 15em;
}
.ql-indent-6 {
  padding-left: 18em;
}
.ql-indent-7 {
  padding-left: 21em;
}
.ql-indent-8 {
  padding-left: 24em;
}
/* 富文本编辑器样式 - 结束 */
